@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *:is(h1, h2, h3, h4, h5, h6) {
    @apply flex scroll-mt-20 items-center gap-2;
  }
}

@layer base {
  pre,
  code {
    font-size: 16px !important;
  }

  @font-face {
    font-family: "geistSansVariable";
    src: url("/fonts/GeistSans/variable/GeistVF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "geistMonoVariable";
    src: url("/fonts/GeistMono/variable/GeistMonoVF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

:root {
  cursor: crosshair;
}

::selection {
  background: rgba(77, 75, 183, 0.3);
  color: #ffffff;
}

::-moz-selection {
  background: rgba(77, 75, 183, 0.3);
  color: #ffffff;
}

.dark::selection {
  background: rgba(77, 75, 183, 0.3);
  color: #ffffff;
}

.dark::-moz-selection {
  background: rgba(77, 75, 183, 0.3);
  color: #ffffff;
}

:root {
  --icon-color-light: #000000 !important;
  --icon-color-dark: #ffffff !important;
}

body.light-mode .anchor-link-icon path {
  fill: var(--icon-color-light);
}

body.dark-mode .anchor-link-icon path {
  fill: var(--icon-color-dark);
}
