<div class='mt-3 flex justify-center'>
    <div class='space-y-5'>
        <a href="https://www.nihbuatjajan.com/yuxxeun" target="_blank"><img src="https://d4xyvrfd64gfm.cloudfront.net/buttons/default-cta.png" alt="Nih buat jajan" class="h-12 w-full"/></a>
        <img src="/NBJ-yuxxeun-qrcode.png" alt="Nih Buat Jajan QR Code" class='w-48 h-48 rounded-lg' />
    </div>
</div>